@charset "UTF-8";
// Variable
@import "../bootstrap-lib/bootstrap/variables";
@import "compass";

//My theme variables
@import "variables";

// Load and hook Bootstrap Core
@import "../bootstrap-lib/bootstrap/";

@import "icons";

*{
    margin: 0;
    padding: 0;
}

#colors{
    position: absolute;
    top: 0;
    right: 0;
    
    .color{
        width: 30px;
        height: 30px;
        border: 2px solid white;
        border-bottom: none;
        
        &:last-child{
           border-bottom: 2px solid white; 
        }
    }
    
    #black{
        background-color: black;
    }
    
    #green{
        background-color: #4CAF50;
    }
    
    #pink{
        background-color: #E91E63;
    }
    
    #yellow{
        background-color: rgb(241, 196, 15);
    }
}

.top{
    height: auto;
    background: url('img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    
    .content{
        @include make-row();
    }
    
    p{
        color: $text-top;
    }
    
    a{
        display: block;
        width: 172px;
        margin: 0 auto 5vh auto;
    }
    
    #logo{
        margin: 5vh 0 5vh 0;
    }
    
    .app-img{
        width: 100%;
        height: auto;
        max-width: 500px;
    }
}

.bottom{
    
    margin-top: 5vh;
    
    .container{
        text-align: center;
        
        form{
            .form-control{
                border: 2px solid $background;
            }
            
            .btn{
                margin: 10px 0 0 0;
                background-color: $background;
                color: $text;
                font-weight: bold;
            }
        }
    }
    
    footer{
        text-align: center;
        color: $text;
        background: url('img/footer-bg.png');
        margin-top: 5vh;
        
        ul{
            height: auto;
            padding-top: 5vh;
            padding-bottom: 5vh;
            
            li{
                list-style-type: none;
                height: 55px;
                line-height: 55px;
                margin-bottom: 10px;
//                &:after{
//                    content: "/";
//                }
                a{
                    text-decoration: none;
                    color: $text;
                    &:hover{
                        text-decoration: none;
                    }
                    &:visited{
                        color: $text;
                    }

                    span{
                        font-size: 1.3em;
                        border: solid 3px;
                        padding: 13px;
                        border-radius: 100%;
                        box-sizing: border-box;

                        &:hover{
                            background-color: $text;
                            color: black;
                            border: none;
                        }
                    }
                }
            }
        }
        
        .credits{
            background-color: $background;
            color:$text;
            display: block;
            height: 50px;
            line-height: 50px;
        }
    }
}



/*****************************************************************************************
/
/    DESKTOP 
/
/****************************************************************************************/

@media (min-width:768px){
    
    p{
        font-size: 1.5em;
    }
    .top-content {
        @include make-md-column(6);
        @include make-sm-column(6);
    }
    
    .top{
        
        a{
            display: inline-block;
            width: 172px;
            margin: 10vh 0 0 0;
        }
        
        p{
            margin: 0 0 5px 0;
        }
    }
    
    .app-img{
        margin-top: 5vh;
    }
    
    .bottom{
        height: auto;
        
        .container{
            form{
                div{
                    @include make-row();
                }

                input{
                    height: 50px;
                    line-height: 15px;
                }

                .btn{
                    @include make-md-column(4);
                    @include make-sm-column(4);
                    margin: 0;
                    white-space: normal;
                }

                .form-control{
                    @include make-md-column(8);
                    @include make-sm-column(8);
                }
            }
        }
        
        footer{
            width: 100%;
            text-align: center;
            
            ul{
                @include make-md-column(8);
                @include make-md-column-offset(2);
                @include make-sm-column(8);
                @include make-sm-column-offset(2);
                padding-top: 3vh;
                padding-bottom: 3vh;
                margin-bottom: 0;

                li{
                    @include make-md-column(3);
                    @include make-sm-column(3);
                    margin-bottom: 0;
                }
            }
        }
    }
}

//@media (min-width: 768px){
//    
//}


//@media (min-width: 1200px) {
//       
//}
//
//@media (max-width: 1200px) {
//    
//}

/*****************************************************************************************
/
/    LANDSCAPE MODE 
/
/****************************************************************************************/

@media  (max-width:768px) and (orientation:landscape){
    .top-content {
        @include make-xs-column(6);
    }
    
    .top{
    
        height: 100vh;
        
        a{
            margin: 0 auto 2px auto;
        }
        
        p{
            margin: 0 0 5px 0;
        }
    }
    
    .app-img{
        margin-top: 10vh;
    }
    
    .bottom{
        height: auto;
        
        .container{
            form{
                div{
                    @include make-row();
                }

                input{
                    height: 50px;
                    line-height: 15px;
                }

                .btn{
                    @include make-xs-column(4);
                    margin: 0;
                    white-space: normal;
                }

                .form-control{
                    @include make-xs-column(8);
                }
            }
        }
        
        footer{
            ul{
                @include make-xs-column(8);
                @include make-xs-column-offset(2);
                padding-top: 3vh;
                padding-bottom: 3vh;
                margin-bottom: 0;

                li{
                    @include make-xs-column(3);
                    margin-bottom: 0;
                }
            }
        }
    }
}

/*****************************************************************************************
/
/    PORTRAIT MODE 
/
/****************************************************************************************/

@media  (max-width:768px) and (orientation:portrait){
    .top-content {
        @include make-xs-column(12);
    }
    
    footer{
        ul{
            @include make-xs-column(10);
            @include make-xs-column-offset(1);
            
            li{
                @include make-xs-column(6);
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) and (orientation:portrait){
    .top{
        background-size: cover;
    }
}

